.chart-area {
	background-color: grey;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.chart {
	position: relative;
	aspect-ratio: 4 / 3;
	max-width: 100%;
	max-height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	display: flex;
}

.chart-message {
	width: 100%;
	text-align: center;
}
