.main-view {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.top-wrapper {
	padding: 10px;
	flex-grow: 1;
	display: flex;
	height: 60%;
	box-sizing: border-box;
}

.bottom-wrapper {
	height: 40%;
	display: flex;
	flex-direction: column;
}
