.chart-list {
	background-color: white;
	padding: 0px 10px 10px 0px;
	overflow-y: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.chart-icon-wrapper {
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;
	height: 44px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: relative;
	user-select: none;
}

.chart-icon-wrapper.selected {
	box-shadow: 0 0 0 2px black;
}

.chart-icon-wrapper:hover {
	box-shadow: 0 0 0 4px lightskyblue;
}

.chart-icon-wrapper.selected:hover {
	box-shadow: 0 0 0 2px black, 0 0 0 4px lightskyblue;
}

.chart-icon {
	background-color: white;
	width: 60px;
	height: 44px;
	padding: 5px;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	z-index: 3;
	position: absolute;
	user-select: none;
	left: 0px;
	top: 0px;
}
