.text-field-wrapper {
	display: flex;
	width: 100%;
	margin-bottom: 5px;
}

.text-field-wrapper > label {
	padding-right: 10px;
	width: 50px;
	text-align: right;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: 50px;
}

.text-field {
	flex-grow: 1;
	min-width: 0px;
}
